@import '../fonts/BebasNeue/stylesheet.css';
:root {
  --bs-orange: #FF712C;
  --bs-black: #212123;
  --bs-gray: rgba(33, 33, 35, 0.50);
  --bs-gray500: #4D5561;
  --bs-gray700: #D8DBE0;
  --bs-gray900: #EFF2F6;
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
  --font-BebasNeue: "Bebas Neue", sans-serif;
  --font-Montserrat: Montserrat, sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  transition: ease 0.3s;
}

.wrapper {
  overflow: hidden;
}

body {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  transition: ease 0.3s;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 100%;
  margin: 0 auto;
}
.title h1.title-text {
  color: var(--bs-black);
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}
.title h3.title-small {
  width: 100%;
  color: var(--bs-gray500);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35.2px;
}
.title img.title-wave {
  width: 74px;
}

.orange-txt {
  color: var(--bs-orange);
}

p.section-text {
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
p.section-text:not(:last-child) {
  margin-bottom: 15px;
}

.card {
  border-radius: 25px;
  background: #FFF;
  box-shadow: 0px 176px 70px 0px rgba(59, 61, 78, 0.01), 0px 99px 59px 0px rgba(59, 61, 78, 0.05), 0px 44px 44px 0px rgba(59, 61, 78, 0.09), 0px 11px 24px 0px rgba(59, 61, 78, 0.1);
  padding: 10px;
}
.card .card-wrap {
  border-radius: 16px;
  border: 1px dashed #DDE0E6;
  padding: 10px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-1 {
  margin-left: 8.33333333%;
}

.offset-2 {
  margin-left: 16.66666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333333%;
}

.offset-5 {
  margin-left: 41.66666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333333%;
}

.offset-8 {
  margin-left: 66.66666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333333%;
}

.offset-11 {
  margin-left: 91.66666667%;
}

.g-0,
.gx-0 {
  --bs-gutter-x: 0;
}

.g-0,
.gy-0 {
  --bs-gutter-y: 0;
}

.g-1,
.gx-1 {
  --bs-gutter-x: 0.25rem;
}

.g-1,
.gy-1 {
  --bs-gutter-y: 0.25rem;
}

.g-2,
.gx-2 {
  --bs-gutter-x: 0.5rem;
}

.g-2,
.gy-2 {
  --bs-gutter-y: 0.5rem;
}

.g-3,
.gx-3 {
  --bs-gutter-x: 1rem;
}

.g-3,
.gy-3 {
  --bs-gutter-y: 1rem;
}

.g-4,
.gx-4 {
  --bs-gutter-x: 1.5rem;
}

.g-4,
.gy-4 {
  --bs-gutter-y: 1.5rem;
}

.g-5,
.gx-5 {
  --bs-gutter-x: 3rem;
}

.g-5,
.gy-5 {
  --bs-gutter-y: 3rem;
}

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }
  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.33333333%;
  }
  .offset-sm-2 {
    margin-left: 16.66666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333333%;
  }
  .offset-sm-5 {
    margin-left: 41.66666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333333%;
  }
  .offset-sm-8 {
    margin-left: 66.66666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333333%;
  }
  .offset-sm-11 {
    margin-left: 91.66666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --bs-gutter-x: 0;
  }
  .g-sm-0,
  .gy-sm-0 {
    --bs-gutter-y: 0;
  }
  .g-sm-1,
  .gx-sm-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-sm-1,
  .gy-sm-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-sm-2,
  .gx-sm-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-sm-2,
  .gy-sm-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-sm-3,
  .gx-sm-3 {
    --bs-gutter-x: 1rem;
  }
  .g-sm-3,
  .gy-sm-3 {
    --bs-gutter-y: 1rem;
  }
  .g-sm-4,
  .gx-sm-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-sm-4,
  .gy-sm-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-sm-5,
  .gx-sm-5 {
    --bs-gutter-x: 3rem;
  }
  .g-sm-5,
  .gy-sm-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.33333333%;
  }
  .offset-md-2 {
    margin-left: 16.66666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333333%;
  }
  .offset-md-5 {
    margin-left: 41.66666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333333%;
  }
  .offset-md-8 {
    margin-left: 66.66666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333333%;
  }
  .offset-md-11 {
    margin-left: 91.66666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --bs-gutter-x: 0;
  }
  .g-md-0,
  .gy-md-0 {
    --bs-gutter-y: 0;
  }
  .g-md-1,
  .gx-md-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-md-1,
  .gy-md-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-md-2,
  .gx-md-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-md-2,
  .gy-md-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-md-3,
  .gx-md-3 {
    --bs-gutter-x: 1rem;
  }
  .g-md-3,
  .gy-md-3 {
    --bs-gutter-y: 1rem;
  }
  .g-md-4,
  .gx-md-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-md-4,
  .gy-md-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-md-5,
  .gx-md-5 {
    --bs-gutter-x: 3rem;
  }
  .g-md-5,
  .gy-md-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.33333333%;
  }
  .offset-lg-2 {
    margin-left: 16.66666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333333%;
  }
  .offset-lg-5 {
    margin-left: 41.66666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333333%;
  }
  .offset-lg-8 {
    margin-left: 66.66666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333333%;
  }
  .offset-lg-11 {
    margin-left: 91.66666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --bs-gutter-x: 0;
  }
  .g-lg-0,
  .gy-lg-0 {
    --bs-gutter-y: 0;
  }
  .g-lg-1,
  .gx-lg-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-lg-1,
  .gy-lg-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-lg-2,
  .gx-lg-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-lg-2,
  .gy-lg-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-lg-3,
  .gx-lg-3 {
    --bs-gutter-x: 1rem;
  }
  .g-lg-3,
  .gy-lg-3 {
    --bs-gutter-y: 1rem;
  }
  .g-lg-4,
  .gx-lg-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-lg-4,
  .gy-lg-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-lg-5,
  .gx-lg-5 {
    --bs-gutter-x: 3rem;
  }
  .g-lg-5,
  .gy-lg-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }
  .row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.33333333%;
  }
  .offset-xl-2 {
    margin-left: 16.66666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333333%;
  }
  .offset-xl-5 {
    margin-left: 41.66666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333333%;
  }
  .offset-xl-8 {
    margin-left: 66.66666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333333%;
  }
  .offset-xl-11 {
    margin-left: 91.66666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --bs-gutter-x: 0;
  }
  .g-xl-0,
  .gy-xl-0 {
    --bs-gutter-y: 0;
  }
  .g-xl-1,
  .gx-xl-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-xl-1,
  .gy-xl-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-xl-2,
  .gx-xl-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-xl-2,
  .gy-xl-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-xl-3,
  .gx-xl-3 {
    --bs-gutter-x: 1rem;
  }
  .g-xl-3,
  .gy-xl-3 {
    --bs-gutter-y: 1rem;
  }
  .g-xl-4,
  .gx-xl-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-xl-4,
  .gy-xl-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-xl-5,
  .gx-xl-5 {
    --bs-gutter-x: 3rem;
  }
  .g-xl-5,
  .gy-xl-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }
  .row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.33333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.66666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.33333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.66666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.33333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.66666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.33333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.66666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --bs-gutter-x: 0;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --bs-gutter-y: 0;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --bs-gutter-x: 1rem;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --bs-gutter-y: 1rem;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --bs-gutter-x: 3rem;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --bs-gutter-y: 3rem;
  }
}
/**
============================
Header start
============================
**/
header {
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 2px 0px rgba(56, 69, 84, 0.2);
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.header__logo {
  width: 73.464px;
  display: block;
}

.header-nav .nav-link {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-link .nav-link__item {
  display: inline-flex;
  height: 13px;
  padding: 0 11px;
  align-items: center;
}
.nav-link .nav-link__item:not(:last-child) {
  border-right: 1px solid var(--bs-gray700);
}
.nav-link .nav-link__item a {
  color: #000;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  text-transform: uppercase;
}

.header-contact {
  display: flex;
  align-items: center;
}
.header-contact button {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 11px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  border: 2px solid var(--bs-gray900);
  background-color: transparent;
}
.header-contact button img {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.header-contact button:not(:last-child) {
  margin-right: 13px;
}
.header-contact .header-contact__num {
  color: #FF712C;
  font-family: var(--font-BebasNeue);
  font-size: 27.563px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

/**
==============================
Home start
==============================
**/
#home {
  padding-top: 50px;
  padding-bottom: 50px;
  background: url(../img/icons/home-radius.svg) no-repeat;
  background-position: top right;
  background-size: 1006px;
}

.home-wrap {
  position: relative;
}

.home__about {
  width: 100%;
  max-width: 644px;
}
.home__about h1.home-title {
  color: var(--bs-gray);
  font-size: 72.188px;
  font-weight: 700;
  line-height: 108px;
  text-transform: uppercase;
}
.home__about h3 {
  color: var(--bs-gray500);
  font-size: 32px;
  font-weight: 400;
  line-height: 35.2px;
  /* 110% */
  text-transform: uppercase;
}

span.home-title__small {
  color: var(--bs-black);
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
  line-height: 72px;
}
span.home-title__small b.price {
  color: var(--bs-orange);
  font-size: 40px;
  font-weight: 600;
}
span.home-title__small b.price span.currency {
  font-size: 40px;
  color: var(--bs-black);
  font-weight: 200;
}

.home-about__cards {
  margin-top: 35px;
  display: flex;
  align-items: center;
  column-gap: 58.8px;
}

.home-card {
  width: 258px;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 25px;
  background: #FFF;
  box-shadow: 0px 176px 70px 0px rgba(59, 61, 78, 0.01), 0px 99px 59px 0px rgba(59, 61, 78, 0.05), 0px 44px 44px 0px rgba(59, 61, 78, 0.09), 0px 11px 24px 0px rgba(59, 61, 78, 0.1);
}
.home-card .home-card__wrap {
  border-radius: 16px;
  border: 1px dashed #DDE0E5;
  padding: 25px 10px;
  text-align: center;
}
.home-card .home-card__wrap h4 {
  color: var(--212123, #212123);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 19.6px;
  /* 140% */
  text-transform: uppercase;
}

.home-card__wrap h4 {
  color: var(--bs-black);
  font-size: 14px;
  font-weight: 800;
  line-height: 19.6px;
  text-transform: uppercase;
}
.home-card__wrap img.wave-arrow {
  margin: 8px auto;
}
.home-card__wrap p {
  color: black;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
}
.home-card__wrap .card-buttons {
  margin-top: 8px;
}
.home-card__wrap .card-buttons button {
  border: none;
  border-radius: 200px;
  font-family: Montserrat;
  background-color: var(--bs-gray);
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 60px;
  width: 100%;
  text-transform: uppercase;
}
.home-card__wrap .card-buttons button:not(:last-child) {
  margin-bottom: 20px;
}
.home-card__wrap .card-buttons button:last-child {
  background-color: var(--bs-orange);
}

.home-about__series {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 20px;
}
.home-about__series .series-item {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.home-about__series .series-item h5 {
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.96px;
}

.series-item .item__left {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid var(--bs-gray700);
}

#homeTabs {
  position: absolute;
  bottom: 30px;
  right: 0;
}

.tabs-menu {
  display: flex;
  align-items: flex-start;
  column-gap: 39px;
}
.tabs-menu .tab-card {
  display: flex;
  width: 165px;
  transition: ease 0.3s;
  padding: 21px 10.693px 21.945px 11px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  box-shadow: 0px 76px 70px 0px rgba(59, 61, 78, 0.03), 0px 99px 59px 0px rgba(59, 61, 78, 0.03), 0px 22px 22px 0px rgba(59, 61, 78, 0.03), 0px 11px 24px 0px rgba(59, 61, 78, 0.03);
}
.tabs-menu > div:first-child {
  padding-bottom: 47.355px;
}
.tabs-menu .tab-card.active {
  border-radius: 15px;
  border: 1px solid var(--FF712C, #FF712C);
  background: #FFF;
  box-shadow: 0px 76px 70px 0px rgba(59, 61, 78, 0.01), 0px 99px 59px 0px rgba(59, 61, 78, 0.05), 0px 22px 22px 0px rgba(59, 61, 78, 0.09), 0px 11px 24px 0px rgba(59, 61, 78, 0.1);
  position: relative;
}
.tabs-menu .tab-card.active::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
  border-top: 1px solid #615D5A;
  border-right: 1px solid #615D5A;
}

.tab-card {
  text-align: center;
  cursor: pointer;
}
.tab-card h5 {
  color: var(--bg-black);
  font-size: 12px;
  font-weight: 700;
  line-height: 17.4px;
  /* 145% */
  text-transform: uppercase;
}
.tab-card b {
  color: #000;
  font-size: 12px;
  font-weight: 700;
  line-height: 17.4px;
  /* 145% */
  letter-spacing: 4px;
  text-transform: uppercase;
}
.tab-card p {
  color: var(--bs-black);
  font-size: 11px;
  font-weight: 400;
  line-height: 15.95px;
}

.tabs-wrap .tab-content:not(.active) {
  display: none;
}

.tabs-wrap {
  position: absolute;
  top: 0;
  right: -40px;
}
.tabs-wrap .tab-content {
  width: 100%;
  max-width: 558px;
  transition: ease 0.3s;
}
.tabs-wrap .tab-content img {
  object-fit: contain;
}

/**
==============================
Discount start
==============================
**/
#discount {
  padding: 50px 0;
}

.discount-img {
  width: 100%;
  margin-bottom: 80px;
}

.discount-wrap .discount-title {
  margin-bottom: 16px;
}
.discount-wrap .plans-title {
  margin-top: 80px;
  max-width: 1059.6px;
}
.discount-wrap .plans-title h3.title-small {
  max-width: 723.95px;
}

.plans {
  width: fit-content;
  margin: 0 auto;
  margin-top: 50px;
}

.plan-card .plan-card__wrap {
  padding: 20px;
  padding-bottom: 50px;
}

.plan-card__wrap {
  text-align: center;
}
.plan-card__wrap h3 {
  color: var(--bs-gray);
  font-size: 24px;
  font-weight: 800;
  line-height: 38px;
  text-transform: uppercase;
}
.plan-card__wrap .plan-price {
  color: var(--bs-black);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.plan-card__wrap .plan-price b {
  color: var(--bs-orange);
  font-weight: 700;
}

.plan-card__series {
  display: flex;
  padding: 11px 0px 10px 0px;
  align-items: flex-start;
  border-top: 1px dashed var(--bs-gray700);
  text-align: left;
}
.plan-card__series h5 {
  color: #5F727F;
  font-size: 12px;
  font-weight: 700;
  line-height: 13.92px;
  width: 120px;
  flex-shrink: 0;
  padding-right: 20px;
}
.plan-card__series p {
  color: black;
  font-size: 12px;
  font-weight: 400;
  line-height: 13.92px;
}

.plan-btn {
  font-family: var(--font-Montserrat);
  border: none;
  padding: 15px 20px;
  border-radius: 85px;
  background-color: var(--bs-orange);
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  margin-top: 45px;
  /* 120% */
}

.three-arrow-down {
  display: block;
  width: 34px;
  height: 62px;
  flex-shrink: 0;
  margin: 50px auto;
}

/**
========================
Model catalog start
========================
**/
#model {
  background: url(../img/model-bg.png) no-repeat;
  background-size: cover;
  background-position: top right;
}

.model-tabs {
  margin-top: 32px;
}

.model-tabs__menu {
  display: flex;
  align-items: flex-start;
  column-gap: 40px;
  list-style: none;
}
.model-tabs__menu li {
  width: 100%;
  text-align: center;
  color: var(--bs-black);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  /* 114.286% */
  text-transform: uppercase;
  opacity: 0.5;
  cursor: pointer;
  padding: 1.37px 106.407px 22.01px 105.67px;
  border-bottom: 2px solid #D9D9D9;
}
.model-tabs__menu li.active {
  border-color: var(--bs-orange);
}

.model-tabs__content {
  margin-top: 50px;
  display: none;
}

.model-tabs__content.active {
  display: block;
}

.model-card .model-card_wrap {
  padding-bottom: 30px;
}

.model-card_wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}
.model-card_wrap .model-card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.model-card_wrap h5 {
  color: var(--bs-gray);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.8px;
}
.model-card_wrap .model-card__price {
  color: var(--bs-black);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.model-card_wrap .model-card__price b {
  font-weight: 700;
}
.model-card_wrap button {
  color: black;
  font-family: var(--font-Montserrat);
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
  border-radius: 80px;
  border: 2px solid var(--bs-orange);
  background-color: white;
  padding: 5px 21.667px 5px 22px;
}

/**
===============================
Sells start
===============================
**/
#sells {
  background: url(../img/sells-bg.png) no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 36px;
}
#sells .title {
  margin-bottom: 30px;
}

.sells__card .model-card_wrap h5,
.sells__card .model-card_wrap p {
  max-width: 184.64px;
}
.sells__card .model-card_wrap p {
  color: #5F727F;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.sells-contant {
  margin-top: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.sells-contant__card {
  max-width: 380px;
}
.sells-contant__card .contant__card-wrap {
  padding: 30px;
}

.contant__card-wrap h4 {
  color: var(--bs-gray);
  text-align: center;
  font-size: 22px;
  font-weight: 900;
  line-height: 25.96px;
  text-transform: uppercase;
}
.contant__card-wrap .sells-form__wave {
  width: 40.364px;
  height: 6px;
  display: block;
  margin: 10px auto;
}
.contant__card-wrap b {
  color: #5F727F;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  line-height: 21.93px;
}
.contant__card-wrap .sells-form__wrap {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}

.sells-form__wrap > * {
  width: 100%;
}
.sells-form__wrap .form-checkbox {
  display: flex;
  align-items: flex-start;
  column-gap: 15px;
}
.sells-form__wrap input:not([type=checkbox]) {
  background: #EFF2F6;
  display: flex;
  width: 300px;
  height: 60px;
  padding: 0 21px;
  border-radius: 100px;
  border: none;
  color: var(--bs-black);
  font-family: var(--font-Montserrat);
  font-size: 14px;
  font-weight: 400;
}
.sells-form__wrap input:not([type=checkbox])::placeholder {
  color: #757575;
  text-align: center;
}
.sells-form__wrap button {
  color: #FFF;
  text-align: center;
  font-family: var(--font-BebasNeue);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  border-radius: 200px;
  background: var(--bs-orange);
  border: none;
  padding: 12.33px 102.69px 12.67px 103.31px;
}
.sells-form__wrap .form-checkbox input[type=checkbox] {
  border-radius: 2.5px;
  border: 1px solid #767676;
  background: white;
}
.sells-form__wrap .form-checkbox label {
  max-width: 121.37px;
  color: black;
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
}

.small__card {
  margin-bottom: 130px;
}
.small__card h4 {
  color: var(--bs-black);
  font-size: 16px;
  font-weight: 700;
  line-height: 18.88px;
}
.small__card h5 {
  color: #212123;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.88px;
}
.small__card i {
  color: var(--bs-orange);
  font-size: 16px;
  font-weight: 700;
  line-height: 18.88px;
}

/***
===========================
certificate start
===========================
*/
.certificate-cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 60px;
}
.certificate-cards > div {
  width: 100%;
  max-width: calc(20% - 32px);
}
.certificate-cards > div img {
  height: 254.63px;
  flex-shrink: 0;
}

.youtube-card {
  margin-top: 41px;
}
.youtube-card iframe {
  height: 640px;
}

.grid-card {
  border-radius: 25px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 26px 36px 0px rgba(17, 12, 46, 0.15);
}
.grid-card .card-img {
  border-radius: 25px 25px 0 0;
  overflow: hidden;
  width: 100%;
}
.grid-card .card-img img {
  height: 267px;
}
.grid-card .card {
  border-radius: 0;
}
.grid-card .card .card-wrap {
  border-top: none;
  border-radius: 0 0 25px 25px;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 20px;
}

.grid-sxem-cards {
  padding-bottom: 100px;
}

.grid-card h4 {
  color: #000;
  font-family: var(--font-Montserrat);
  font-size: 13.563px;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}
.grid-card h4 span.xl-txt {
  font-size: 14px;
}
.grid-card h4 span.lg-txt {
  font-size: 13.563px;
}
.grid-card h4 span.md-txt {
  font-size: 12px;
}
.grid-card p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #5F727F;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.grid-card a {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  /* 100% */
  text-decoration-line: underline;
}