@import '../fonts/BebasNeue/stylesheet.css';
@import '../fonts/SourceSansPro/stylesheet.css';

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	scroll-behavior: smooth;
	transition: ease .3s;
}

.wrapper {
	overflow: hidden;
}

body {
	font-size: 16px;
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	letter-spacing: normal;
	transition: ease .3s;
}

button {
	cursor: pointer;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

@mixin max-bp($bp: 0) {
	@media (max-width: $bp) {
		@content;
	}
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	width: 100%;
	margin: 0 auto;

	h1.title-text {
		color: var(--bs-black);
		text-align: center;
		font-size: 36px;
		font-weight: 800;
		line-height: 40px;
		text-transform: uppercase;
		text-align: center;

	}

	h3.title-small {
		width: 100%;
		color: var(--bs-gray500);
		text-align: center;
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: 35.2px;
	}

	img.title-wave {
		width: 74px;
	}

	p.title-txt {
		color: #5F727F;
		text-align: center;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
	}
}

.orange-txt {
	color: var(--bs-orange);
}

p.section-text {
	color: black;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;

	&:not(:last-child) {
		margin-bottom: 15px;
	}
}

.card {
	border-radius: 25px;
	background: #FFF;
	box-shadow: 0px 176px 70px 0px rgba(59, 61, 78, 0.01), 0px 99px 59px 0px rgba(59, 61, 78, 0.05), 0px 44px 44px 0px rgba(59, 61, 78, 0.09), 0px 11px 24px 0px rgba(59, 61, 78, 0.10);
	padding: 10px;

	.card-wrap {
		border-radius: 16px;
		border: 1px dashed #DDE0E6;
		padding: 10px;
	}
}

.breadcrumb {
	display: flex;
	align-items: center;
	list-style: none;
	column-gap: 10px;

	li {
		display: flex;
		align-items: center;

		a {
			color: #000;
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
		}

		&:last-child {
			a {
				color: var(--bs-orange);
			}
		}
	}
}