@import '../fonts/BebasNeue/stylesheet.css';
@import '../fonts/SourceSansPro/stylesheet.css';
@import '../fonts/Montserrat/stylesheet.css';

@mixin max-bp($bp: 0) {
	@media (max-width: $bp) {
		@content;
	}
}

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	scroll-behavior: smooth;
	transition: ease .3s;
}

.wrapper {
	overflow: hidden;
}

body {
	font-size: 16px;
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	letter-spacing: normal;
	transition: ease .3s;
}

button {
	cursor: pointer;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;

	@include max-bp(1199px) {
		max-width: 990px;
	}

	@include max-bp(1050px) {
		max-width: 800px;
	}

	@include max-bp(870px) {
		max-width: 700px;
	}

	@include max-bp(767px) {
		max-width: 100%;
		padding: 0 20px;
	}
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	width: 100%;
	margin: 0 auto;

	@include max-bp(768px) {
		row-gap: 10px;
	}

	h1.title-text {
		color: var(--bs-black);
		text-align: center;
		font-size: 36px;
		font-weight: 800;
		line-height: 40px;
		text-transform: uppercase;
		text-align: center;

		@include max-bp(768px) {
			font-size: 30px;
		}

	}

	h3.title-small {
		width: 100%;
		color: var(--bs-gray500);
		text-align: center;
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: 35.2px;

		@include max-bp(768px) {
			font-size: 20px;
			line-height: 110%;
		}
	}

	img.title-wave {
		width: 74px;
	}

	p.title-txt {
		color: #5F727F;
		text-align: center;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
	}
}

.orange-txt {
	color: var(--bs-orange);
}

.black-txt {
	color: var(--bs-black);
}

p.section-text {
	color: black;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;

	&:not(:last-child) {
		margin-bottom: 15px;
	}
}

.card {
	border-radius: 25px;
	background: #FFF;
	box-shadow: 0px 176px 70px 0px rgba(59, 61, 78, 0.01), 0px 99px 59px 0px rgba(59, 61, 78, 0.05), 0px 44px 44px 0px rgba(59, 61, 78, 0.09), 0px 11px 24px 0px rgba(59, 61, 78, 0.10);
	padding: 10px;

	.card-wrap {
		border-radius: 16px;
		border: 1px dashed #DDE0E6;
		padding: 10px;
	}
}

.breadcrumb {
	display: flex;
	align-items: center;
	list-style: none;
	flex-wrap: wrap;
	column-gap: 10px;

	li {
		display: flex;
		align-items: center;

		a {
			color: #000;
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
		}

		&:last-child {
			a {
				color: var(--bs-orange);
			}
		}
	}
}

.arrow-line {
	margin-top: 35px;
	display: block;
	width: 100%;
	height: 10px;
	background-image: url('../img/icons/arrow-line.svg');
	background-size: contain;
	background-repeat: repeat-x;

	@include max-bp(500px) {
		margin-top: 25px;
	}
}

.close-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: 2;
	visibility: hidden;
	opacity: 0;
	transition: ease .3s;
}

.close-bg.active {
	visibility: visible;
	opacity: 1;
}



.slideshow-container {
	position: relative;
}

.commit-slide {
	display: none;
}

.prev,
.next {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	background-color: white;
	border-radius: 100%;

	img {
		width: 100%;
		height: 100%;
	}
}

.next {
	right: -25px;

	@include max-bp(770px) {
		right: -12px;
	}
}

.prev {
	left: -25px;

	@include max-bp(770px) {
		left: -12px;
	}
}

.fade {
	animation-name: fade;
	animation-duration: .3s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 1;
	}
}