:root {
	--bs-orange: #FF712C;
	--bs-black: #212123;
	--bs-gray: rgba(33, 33, 35, 0.50);
	--bs-gray500: #4D5561;
	--bs-gray700: #D8DBE0;
	--bs-gray900: #EFF2F6;
	--bs-breakpoint-xs: 0;
	--bs-breakpoint-sm: 576px;
	--bs-breakpoint-md: 768px;
	--bs-breakpoint-lg: 992px;
	--bs-breakpoint-xl: 1200px;
	--bs-breakpoint-xxl: 1400px;
	--font-BebasNeue: 'Bebas Neue', sans-serif;
	--font-Montserrat: Montserrat, sans-serif;
}